<%- include('../includes/head.ejs', {pageTitle: pageTitle}) %>

<%- include('../includes/navHeader.ejs', {isAuthenticated: isAuthenticated}) %>


<main>
    <div class="login-wrapper">
        <% if(authMessage) {%>
        <div class='auth-message'><%= authMessage %></div>
        <% } %>
        
        <div class="login-card">

            <div class="login-header">
                <span class="login-header-icon"><i class="fas fa-user-alt"></i></span>
                <span class="login-header-text">Login</span>
            </div>


            <section class="login-info">
                <div class="login-info-form">
                    <div class="user-error-message">
                        <div class="user-login">
                            Login as a buyer
                        </div>

                        <div class="error-message">
                            <% if(buyerErrorMessage) {%>
                            <span class="login-error-message"><%= buyerErrorMessage %></span>
                            <% } %>
                        </div>
                    </div>

                    <div class="user-login-form">
                            
                            <form method="POST" action="/login/buyer">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                                <input type="email" name="email" id="email" value="<%= buyerProvideEmail %>" placeholder="Email">

                                <input type="password" name="password" id="password" placeholder="Password">

                                <input id="login-submit" type="submit" value='Login'>

                            </form>
                            <div class="password-reset">forget password? <a href="/reset-password/buyer">Reset password</a> </div>
                    </div>
                </div>

            

                    <div class="login-info-form">
                        <div class="user-error-message">
                            <div class="user-login">
                                Login as a seller
                            </div>
            
                            <div class="error-message">
                                <% if(sellerErrorMessage) {%>
                                <span class="login-error-message"><%= sellerErrorMessage %></span>
                                <% } %>
                            </div>
                        </div>

                        <div class="user-login-form">
                            <form method="POST" action="/login/seller">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <input type="hidden" name="redirect" value="<% if (authMessage) { %>admin<% } %>">

                    
                                <input type="email" name="email" id="email" value="<%= sellerProvideEmail %>" placeholder="Email">

                                
                                <input type="password" name="password" id="password" placeholder="Password">

                                <input id="login-submit" type="submit" value='Login'>

                            </form>

                            <div class="password-reset">forget password ? <a href="/reset-password/seller">Reset password</a> </div>
                        </div>
                    </div>

            </section>

    </div>
    

</div>
   
</main>

<%- include('../includes/end.ejs') %>