<%- include('../includes/head.ejs', {pageTitle: pageTitle}) %>

<%- include('../includes/navHeader.ejs', {isAuthenticated: isAuthenticated}) %>


<main>
    <div>
        Create new password
    </div>

    <div>
        <form action="/new-password" method="POST">

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="token" id="token" value="<%= token %>">
            <input type="hidden" name="userStatus" id="userStatus" value="<%= status %>">
            <input type="hidden" name="userId" id="userId" value="<%= userId %>">

            <label for="password">password</label>
            <input type="password" name="password" id="password">

            <label for="password2">confirm password</label>
            <input type="password" name="password2" id="password2">
            <button type="submit">Send</button>

        </form>
    </div>

    
</main>


<%- include('../includes/end.ejs') %>