<%- include('../includes/head.ejs', {pageTitle: pageTitle}) %>

<%- include('../includes/navHeader.ejs', {isAuthenticated: isAuthenticated}) %>


<main>

    <div>
        Provide your account email to receive password reset's link
    </div>

    <div>
        <form action="/reset-confirm" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="userStatus" value="<%= userStatus %>">

            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <button type="submit">Send</button>

        </form>
    </div>
</main>


<%- include('../includes/end.ejs') %>