<%- include('../includes/head.ejs', {pageTitle: pageTitle}) %>

<%- include('../includes/navHeader.ejs', {isAuthenticated: isAuthenticated}) %>


<main>
    <div class="signup-wrapper">

        <div class="signup-header">
            <span class="signup-icon"><i class="fas fa-user-plus"></i></span>
            <span class="signup-header-text">
                Signup as a seller
            </span>
        </div>

        <div >
            <% if(errorMessage) {%>
            <div class="error-message"><%= errorMessage %></div>
            <% } %>
        </div>

        <div class="signup-form-wrapper">
            <form method="POST" action="/signup/seller" enctype="multipart/form-data">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                <input type="text" name="name" id="name" placeholder="Name">

                <input type="email" name="email" id="email" placeholder="Email">
 
                <input type="password" name="password" id="password" placeholder="Password">
                
                <input type="password" name="password2" id="password2" placeholder="Confirmed Password">

                <input type="number" name="phoneNumber" id="phoneNumber" placeholder="Phone Number">

                <input type="file" name="image" id="image" placeholder="Image">
                <input type="submit" id="signup-submit" value="Signup">

            </form>

            <div class="signin-redirect">Already registered? <a href="/login" >Login</a></div>
        </div>

    </div>

</main>


<%- include('../includes/end.ejs' ) %>