<%- include('../includes/head.ejs', {pageTitle: pageTitle}) %>

<%- include('../includes/navHeader.ejs', {isAuthenticated: isAuthenticated}) %>


<main>

    <%= errorMessage %>
    <div>
        <form method="POST" action="/login/seller">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

            <label for="email">email</label>
            <input type="email" name="email" id="email" value="<%= provideEmail %>">

            <label for="password">password</label>
            <input type="password" name="password" id="password">

            <button type="submit">Login In</button>

        </form>
    </div>
</main>

<%- include('../includes/end.ejs') %>