<%- include('../includes/head.ejs', {pageTitle: pageTitle}) %>


<%- include('../includes/navHeader.ejs') %>

<main>

    <div class="add-product-wrapper">

        <div class="add-header">
            <span class="add-icon"><i class="fas fa-plus"></i></span>
            <span class="add-header-text">
                Edit Product
            </span>
        </div>

        <div class="add-error-message">
            <% if(errorMessage) {%>
            <span class="add-error-message"><%= errorMessage %></span>
            <% } %>
        </div>
   
        <div class="add-form-control">

            <form action="/admin/product-edit" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="productId" value="<%= goods._id %>">

            <input type="text" name="name" id="name" value="<%= goods.name %>" placeholder="Name">

            <input type="number" name="price" id="price" value="<%= goods.price %>" placeholder="Price">



            <select name="category" required> 
                <option value="" disabled selected>Category</option>
                <option value="Mobile Phone" >Mobile Phone</option>
                <option value="Bags" >Bags</option>
                <option value="Computer Accessories" >Computer Accessories</option>
                <option value="Audio Music Equipment" >Audio Music Equipment</option>
                <option value="Vehicle" >Vehicle</option>
                <option value="Home Appliances" >Home Appliances</option>
                <option value="Electrical Equipment" >Electrical Equipment</option>
                <option value="Electronics" >Electronics</option>
            </select>

            
            <select name="condition" required>
                <option value="" disabled selected>Product condition</option>
                <option value="New" >New</option>
                <option value="Used" >Used</option>
            </select>

        <textarea name="description" rows="11"><%= goods.description %></textarea>

            <input type="file" name="image">

            <select name="location" required>
                <option value="" disabled selected>Location</option>
                <option value="Lagos" >Lagos</option>
                <option value="Ibadan" >Ibadan</option>
                <option value="Kano" >Kano</option>
                <option value="Port-Harcourt" >Port-Harcourt</option>
                <option value="Auja" >Abuja</option>
                <option value="Abeokuta" >Abeokuta</option>
                <option value="Calabar" >Calabar</option>
                <option value="Uyo" >Uyo</option>
                <option value="Enugu" >Enugu</option>
            </select>
            <input class="add-submit" type="submit" value="Submit">      
            
            </form> 
        

        </div>
    </div>
</main>


<%- include('../includes/end.ejs') %>


