<%- include('../includes/head.ejs', {pageTitle: pageTitle}) %>


<%- include('../includes/navHeader.ejs') %>

<main>
    <section class="advert-text-search">
        <div class="advert-wrapper">
        <p class="primary-advert">Sell and Buy House Clearance Sales</p>
        <p class="secondary-advert">Look for perfect products and contact seller</p> 
        <div class="homepage-search-input">
            <form method="GET" action="/search/1" class="form-flex">
            <input type="text" name="search" id="search" placeholder="Search all products">
            <div class="homepage-search"><button class="button-style" type="submit"><i class="fas fa-search fa-lg"></i></button></div>
            </form>
        </div>
        </div>
    </section>

    <section class="item-list">
        <div class="category-text">categories</div>
        <div class="filter">
            <a href="/search/1?filter=Mobile+Phone" class="filter-item">
                <i class="fas fa-mobile fa-lg"></i>
            </a>

            <a href="/search/1?filter=Bags" class="filter-item">
                <i class="fas fa-shopping-bag fa-lg"></i>
            </a>

            <a href="/search/1?filter=Computer+Accessories" class="filter-item">
                    <i class="fas fa-desktop fa-lg"></i>
            </a>

            <a href="/search/1?filter=Audio+Music+Equipment" class="filter-item">
                    <i class="fas fa-headphones-alt fa-lg"></i>
            </a>

            <a href="/search/1?filter=Vehicle" class="filter-item">
                    <i class="fas fa-car fa-lg"></i>
            </a>
            
            <a href="/search/1?filter=Home+Appliances" class="filter-item">
                    <i class="fas fa-blender-phone fa-lg"></i>
            </a>

            <a href="/search/1?filter=Electrical+Equipment" class="filter-item">
                    <i class="fas fa-charging-station fa-lg"></i>
            </a>
        </div>
  
        <section class='item-wrapper'>
                <% if (allGoods.length > 0) { %>
                    <% for (let goods of allGoods) { %>
                        <a href="/product/<%=goods._id %>" class="card-wrapper">
                           
                            <div class="goods-image">
                                <img src='<%= goods.image %>' alt="product image" />
                            </div>
                            <div class="name-wrapper">
                                <div class="product-name"><%= goods.name %></div> 
                            </div>
                            <div class="condition-price">
                                <div class="product-condition"><%= goods.condition %></div>
                                <div class="product-price"><%= priceFormat(goods.price) %></div>
                            </div>
                            <div class="review-location">
                                    <div class="review">
                                        <span class="fa fa-star <%if(goods.review.reviewAverage.averageScore >= 1) {%>checked-review <%}%>"></span>
                                        <span class="fa fa-star <%if(goods.review.reviewAverage.averageScore >= 2) {%>checked-review <%}%>"></span>
                                        <span class="fa fa-star <%if(goods.review.reviewAverage.averageScore >= 3) {%>checked-review <%}%>"></span>
                                        <span class="fa fa-star <%if(goods.review.reviewAverage.averageScore >= 4) {%>checked-review <%}%>"></span>
                                        <span class="fa fa-star <%if(goods.review.reviewAverage.averageScore >= 5) {%>checked-review <%}%>"></span>
                                    </div>
                                <div class="location">
                                    <i class="fas fa-map-marker-alt location-icon"></i>
                                    <%= goods.location %>
                                </div>
                            </div>
                        </a>
                        
                    <% } %>
        
                <% } else { %>
                    <%- include('../includes/noItem.ejs', {}) %>
              
                <% } %>
                <div class="pagination-wrapper">
                    <% if (currentPage == 1 && pages > 1) { %> 
                     <a 
                       href="/<%= parseInt(currentPage) + 1 %>">
                       <span>
                         page <%=  parseInt(currentPage) + 1 %>
                        <i class="fas fa-angle-double-right"></i>
                       </span>
                     </a>
                     
                     
                     <% } else if (currentPage > 1 && pages > currentPage) { %>
                    <a 
                      href="/<%= parseInt(currentPage) - 1 %>">
                      <span>
                       <i class="fas fa-angle-double-left"></i>
                         page <%= parseInt(currentPage) - 1 %>
                      </span>
                    </a>   <a 
                      href="/<%= parseInt(currentPage) + 1 %>">
                      <span>
                        page <%= parseInt(currentPage) + 1 %>
                       <i class="fas fa-angle-double-right"></i>
                      </span>
                    </a>
                    <% } else if (currentPage == pages && pages > 1) { %>
                   <a 
                     href="/<%= parseInt(currentPage) - 1 %>">
                     <span>
                       <i class="fas fa-angle-double-left"></i> page 
                      <%=parseInt(currentPage) - 1 %>
                     </span>
                   </a>   <% } %>
                   </div>
        </section>
       
    </section>

            
    </section>
</main>
    <%- include('../includes/end.ejs') %>