<%- include('../includes/head.ejs', {pageTitle: pageTitle, specificCssLink: '/css/generalPage/homepage.css'}) %>


<%- include('../includes/navHeader.ejs') %>

<main>
    <section class="advert-text-search">
        <p class="primary-advert">Sell and buy your house clearance product</p>
        <p class="secondary-advert">Look for a perfect home clearance product, contact seller and shedule the shipping</p> 
        <div class="homepage-search-input">
            <form method="GET" action="#" class="form-flex">
            <input type="text" name="search" id="search" placeholder="Search all products">
            <div class="homepage-search"><button class="button-style" type="submit"><i class="fas fa-search fa-lg"></i></button></div>
            </form>
            
        </div>
    </section>

    <section class="item-list">
        <div class="category-text">Category</div>
        <div class="filter">
            <div class="filter-item">
                <i class="fas fa-mobile fa-lg"></i>
            </div>
            <div class="filter-item">
                <i class="fas fa-shopping-bag fa-lg"></i>
            </div>
            <div class="filter-item">
                <i class="fas fa-desktop fa-lg"></i>
            </div>
            <div class="filter-item">
                <i class="fas fa-headphones-alt fa-lg"></i>
            </div>
            <div class="filter-item">
                <i class="fas fa-car fa-lg"></i>
            </div>
            
            <div class="filter-item">
                <i class="fas fa-blender-phone fa-lg"></i>
            </div>
            <div class="filter-item">
                <i class="fas fa-charging-station fa-lg"></i>
            </div>
        </div>
  
        <section class='item-wrapper'>
                <% if (allGoods.length > 0) { %>

                    <% for (let goods of allGoods) { %>
                        <div class="card-wrapper">
                           
                            <div class="goods-image">
                                <img src='<%= goods.image %>' alt="product image" />
                            </div>

                            <div class="name-wrapper">
                                <div class="product-name"><%= goods.name %></div> 
                            </div>

                            <div class="condition-price">
                                <div class="product-condition"><%= goods.condition %></div>
                                <div class="product-price"># 50000</div>
                            </div>

                            <div class="review-location">
                                    <div class="review">
                                        <span class="fa fa-star <%if(goods.review.reviewAverage.averageScore >= 1) {%>checked-review <%}%>"></span>
                                        <span class="fa fa-star <%if(goods.review.reviewAverage.averageScore >= 2) {%>checked-review <%}%>"></span>
                                        <span class="fa fa-star <%if(goods.review.reviewAverage.averageScore >= 3) {%>checked-review <%}%>"></span>
                                        <span class="fa fa-star <%if(goods.review.reviewAverage.averageScore >= 4) {%>checked-review <%}%>"></span>
                                        <span class="fa fa-star <%if(goods.review.reviewAverage.averageScore >= 5) {%>checked-review <%}%>"></span>
                                    </div>
                                <div class="location">
                                    <i class="fas fa-map-marker-alt location-icon"></i>
                                    <%= goods.location %>
                                </div>
                            </div>
                        </div>
                    <% } %>
        
                <% } else { %>

                    <%- include('../includes/noItem.ejs', {}) %>
              
                <% } %>
    </section>
</main>


<%- include('../includes/end.ejs') %>

